* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background: #365394;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.word-display {
  margin-top: 3rem;
  font-size: 80px;
  color: #365394;
}

.word-input-box {
  margin-top: 2rem;
}

.word-input {
  padding: 0.5rem;
  width: 300px;
}

.time-score {
  margin-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.time, .score {
  font-size: 30px;
}

.name-input-box {
  margin-top: 1.5rem;
}

.button {
  width: 200px;
  height: 35px;
  background: #365394;
  color: #fff;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.btn {
  width: 60px;
  height: 20px;
  background: #365394;
  color: #fff;
  border: none;
  cursor: pointer;
}

.loading {
  background: #ccc;
  cursor: not-allowed;
}

#username {
  text-align: left;
}

#userscore {
  text-align: left;
}

#records {
  border: 5px solid;
  border-color: #365394;
  padding: 1rem;
  position: fixed;
  width: 150px;
  height: 600px;
  right: 100px;
  top: 70px;
}

#inputList {
  border: 5px solid;
  border-color: #365394;
  padding: 1rem;
  position: fixed;
  width: 150px;
  height: 600px;
  left: 100px;
  top: 70px;
}







